@model ICollection<WebApp.Models.Trainee>
@{
    ViewBag.Title = "View Trainee";
}

<h2>Students enrolled to the @ViewBag.CourseName course</h2>
<table class="table table-hover">
    <tr>
        <th scope="col">Trainee Name</th>
        <th scope="col">Full Name</th>
        <th scope="col">Age</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.User.UserName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Age)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
