@model WebApp.Models.CourseCategory

@{
	ViewBag.Title = "Details Course Category";
}


<div>
	<h4>@ViewBag.Title</h4>
	<hr />
	@Html.HiddenFor(model => model.Id)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<div class="row">
		<div class="col-md-4">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary mb-3 me-1" })
			@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success mb-3" })
			<dl class="row">
				<dt class="col-xl-3 text-xl-end">
					@Html.DisplayNameFor(m => m.Name)
				</dt>

				<dd class="col-xl-9">
					@Html.DisplayFor(m => m.Name)
				</dd>

				<dt class="col-xl-3 text-xl-end">
					@Html.DisplayNameFor(m => m.Description)
				</dt>

				<dd class="col-xl-9">
					@Html.DisplayFor(m => m.Description)
				</dd>
			</dl>
		</div>
		<div class="col-md-8">
			<p class="text-black">Go to <a href="@Url.Action("Index","Course")">Course Management</a> to create more courses of the <b>@Model.Name</b> category.</p>
			@if (Model.Courses.Count == 0)
			{
				<p class="text-danger">There is no courses in the <b>@Model.Name</b> category.</p>
			}
			else
			{
				<h5>Courses</h5>
				<ol class="list-group list-group-numbered list-group-flush">
					@foreach (var course in Model.Courses)
					{
						<li class="list-group-item">
							@Html.ActionLink(course.Name, "Index", "Course", new { id = course.Id }, null)
						</li>
					}
				</ol>

			}
		</div>
	</div>

	<div>
	</div>
</div>

