@model WebApp.Models.CourseCategory

@{
	ViewBag.Title = "Details Course Category";
}


<div>
	<h4>@ViewBag.Title</h4>
	<hr />
	@Html.HiddenFor(model => model.Id)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<div class="row">
		<div class="col-lg-4">
			<dl class="row">
				<dt class="col-sm-3 text-end">
					@Html.DisplayNameFor(m => m.Name)
				</dt>

				<dd class="col-sm-9">
					@Html.DisplayFor(m => m.Name)
				</dd>

				<dt class="col-sm-3 text-end">
					@Html.DisplayNameFor(m => m.Description)
				</dt>

				<dd class="col-sm-9">
					@Html.DisplayFor(m => m.Description)
				</dd>
			</dl>
		</div>
		<div class="col-lg-8">
			@if (Model.Courses.Count == 0)
			{
				<p class="text-danger">There is no courses in <b>@Model.Name</b> category</p>
			}
			else
			{
				@Html.DisplayNameFor(m => m.Courses)
				<ol>
					@foreach (var course in Model.Courses)
					{
						<li>
							@Html.ActionLink(course.Name, "Index", "Course", new { id = course.Id }, null)
						</li>
					}
				</ol>

			}
		</div>
	</div>

	<div>
		@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
	</div>
</div>

