@model WebApp.ViewModels.AssignViewModel
@{
	ViewBag.Title = "Assign";
}

<h2>Assign</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form">
	<h4>@ViewBag.Title</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Course.Id)

	<div class="form-group mb-3">
		<label class="col-md-2 control-label">Trainee</label>
		<div class="col-md-10">
			@Html.DropDownListFor(m => m.TraineeId, new SelectList(Model.Trainees, "UserId", "User.Email"), new { @class = "form-select" })
		</div>
	</div>

	<div class="form-group mb-3">
		<label class="col-md-2 control-label">Trainer</label>
		<div class="col-md-10">
			@Html.DropDownListFor(m => m.TrainerId, new SelectList(Model.Trainers, "UserId", "User.FullName"), new { @class = "form-select" })
		</div>
	</div>


	<div class="form-group mb-3">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save changes" class="btn btn-primary" />
		</div>
	</div>
</div>
}


<h3>Enrolled Trainees</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">UserName</th>
			<th scope="col">Full Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in @Model.AssignedTrainees)
		{
		<tr>
			<td>@item.User.UserName</td>
			<td>@item.User.FullName</td>
		</tr>
		}

	</tbody>
</table>
<h3>Enrolled Trainers</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">UserName</th>
			<th scope="col">Full Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in @Model.AssignedTrainers)
		{
		<tr>
			<td>@item.User.UserName</td>
			<td>@item.User.FullName</td>
			<td>

			</td>
		</tr>
		}

	</tbody>
</table>
