@model WebApp.ViewModels.AssignViewModel
@{
	ViewBag.Title = "Assign";
}

<h2>Assign</h2>

@Html.LabelFor(m => m.Course.Name): @Html.DisplayFor(m => m.Course.Name)

<h3>Staff Accounts</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">UserName</th>
			<th scope="col">Full Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in @Model.AssignedTrainees)
		{
			<tr>
				<td>@item.User.UserName</td>
				<td>@item.User.FullName</td>
				<td>
				</td>
			</tr>
		}

	</tbody>
</table>
