@model WebApp.ViewModels.CreateCourseViewModel
@{
	ViewBag.Title = "Create a course";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<hr />
	<div class="form-group mb-3">
		@Html.LabelFor(model => model.Course.Name, htmlAttributes: new { @class = "form-label" })
		@Html.EditorFor(model => model.Course.Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Course.Name, "", new { @class = "text-danger" })
	</div>

	<div class="form-group mb-3">
		@Html.LabelFor(model => model.Course.CourseCategoryId, "Course Category", htmlAttributes: new { @class = "form-label" })
		@Html.DropDownListFor(m => m.Course.CourseCategoryId, Model.Categories, "", htmlAttributes: new { @class = "form-select" })
		@Html.ValidationMessageFor(model => model.Course.CourseCategoryId, "", new { @class = "text-danger" })
	</div>

	<div class="form-group mb-3">
		@Html.LabelFor(model => model.Course.Description, htmlAttributes: new { @class = "form-label" })
		@Html.EditorFor(model => model.Course.Description, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Course.Description, "", new { @class = "text-danger" })
	</div>

	<div class="form-group mb-3">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
}

@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
}
