@model WebApp.Models.Course

@{
	ViewBag.Title = "Details a course";
}
<div>
	<h4>Course</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(model => model.CourseCategory)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.CourseCategory.Name)
		</dd>

		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Description)
		</dd>

	</dl>
</div>
<div>
	@Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary mx-1" })
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success mx-1" })
</div>