@model IPagedList<WebApp.Models.Course>
@using X.PagedList
@using X.PagedList.Mvc.Fluent
@{
	ViewBag.Title = "Course management";
}


<table class="table table-hover w-auto m-auto">
	<caption class="caption-top">
		<h3>@ViewBag.Title</h3>
		@Html.ActionLink("Create New Course", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })

		@using (Html.BeginForm("Index", "Course", FormMethod.Get))
		{
			<div class="form-floating my-3">
				<input id="keyword" name="keyword" class="form-control d-inline-flex me-1" type="text" placeholder="Course name" required value="@Request.Params["keyword"]" />
				<label for="keyword">Course Name</label>
				<input id="submit" type="submit" class="btn btn-primary me-1" value="Search" />
				@if (Request.Params["keyword"] != null)
				{
					@Html.ActionLink("Delete search result", "Index", null, htmlAttributes: new { @class = "btn btn-danger" })
				}
			</div>
		}
		@Html.ValidationMessage("", new { @class = "text-daner" })
	</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th>
				@Html.DisplayNameFor(m => m.First().Name)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(m => m.First().CourseCategory)
			</th>
			<th scope="col" class="col">
				Actions
			</th>
		</tr>
	</thead>
	@if (Model.Count > 0)
	{
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<th scope="row">@item.Id</th>
					<td>
						@item.Name
					</td>
					<td>
						@item.CourseCategory.Name
					</td>
					<td class="dropdown">
						@Html.ActionLink("Assign", "Index", "Assign", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" })
						@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
						<button class="btn btn-secondary dropdown-toggle" type="button" id="actions-dropdown-@item.Id" data-bs-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
							Manage
						</button>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="actions-dropdown-@item.Id">
							@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "dropdown-item text-success" })
							@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "dropdown-item text-danger" })
						</div>
					</td>
				</tr>
			}
		</tbody>

		<caption class="">
			<br />
			@(Html.Pager(Model)
		.Url(page => Url.Action("Index", new { page}))
		.Build())
		</caption>
	}
</table>
