@model IEnumerable<WebApp.Models.Course>

@{
	ViewBag.Title = "Course management";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.CourseCategory)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@{ int i = 0;}
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@{i++;}@i</th>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CourseCategory.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info" }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
				</td>
			</tr>
		}
	</tbody>

</table>

