@using WebApp.Utils;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title | ETMS</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container">
			@Html.ActionLink("ETMS", "Index", "Home", new { Area = "" }, new { @class = "navbar-brand" })
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbarCollapse" aria-controls="topNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="topNavbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { @class = "nav-link" })
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(Role.Admin))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Account Management", "Index", "Account", new { Area = "Admin" }, new { @class = "nav-link" })
                            </li>
                        }
                        if (User.IsInRole(Role.Staff))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "Staff" }, new { @class = "nav-link" })
                            </li>
                        }
                        if (User.IsInRole(Role.Trainer))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("View Course And Trainee", "Index", "Home", new { Area = "Trainer" }, new { @class = "nav-link" })
                            </li>

                        }
                    }
                </ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content mt-3">
		@RenderBody()
		<hr />
		<footer class="text-center">
			<p>&copy; @DateTime.Now.Year - Employee Training Management System</p>
			<p>
				@Html.ActionLink("About", "About", "Home", new { Area = "" }, null) |
				@Html.ActionLink("Contact", "Contact", "Home", new { Area = "" }, null)
			</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
