@model WebApp.ViewModels.UserProfileViewModel
@using WebApp.Utils;

<div>
	<h4>@ViewBag.Title</h4>
	<hr />
	@Html.HiddenFor(m => m.Id)
	<dl class="row dl-horizontal">
		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(m => m.Email)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(m => m.Email)
		</dd>

		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(m => m.FullName)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(m => m.FullName)
		</dd>

		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(u => u.Age)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(i => i.Age)
		</dd>

		<dt class="col-sm-3 text-end">s
			@Html.DisplayNameFor(u => u.Address)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(i => i.Address)
		</dd>

		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(u => u.Email)
		</dt>

		<dd class="col-sm-9">
			@Html.DisplayFor(u => u.Email)
		</dd>

		<dt class="col-sm-3 text-end">
			@Html.DisplayNameFor(u => u.Roles)
		</dt>

		<dd class="col-sm-9">
			@string.Join(", ", Model.Roles)
		</dd>

		@if (Model.Roles.Contains(Role.Trainer))
		{
			<dt class="col-sm-3 text-end">
				@Html.DisplayNameFor(u => u.Specialty)
			</dt>

			<dd class="col-sm-9">
				@Html.DisplayFor(u => u.Specialty)
			</dd>
		}

		@if (Model.Roles.Contains(Role.Trainee))
		{
			<dt class="col-sm-3 text-end">
				@Html.DisplayNameFor(u => u.BirthDate)
			</dt>

			<dd class="col-sm-9">
				@Html.DisplayFor(u => u.BirthDate)
			</dd>

			<dt class="col-sm-3 text-end">
				@Html.DisplayNameFor(u => u.Education)
			</dt>

			<dd class="col-sm-9">
				@Html.DisplayFor(u => u.Education)
			</dd>
		}
	</dl>
</div>
