@model WebApp.ViewModels.AccountRegisterViewModel
@{
	ViewBag.Title = "Create Trainee Account";
}
<h2>@ViewBag.Title.</h2>

@Html.Partial("CreateAccountFormPartial")

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/js/show-hide-profile.js")
}
