@model WebApp.ViewModels.AssignViewModel
@using WebApp.Utils
@{
	ViewBag.Title = "Assign";
}

<h2>Assign</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form">
		<h4>@ViewBag.Title</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.CourseId)
		@Html.HiddenFor(model => model.Role)
		@switch (Model.Role)
		{
			case Role.Trainer:
				<div class="form-group mb-3">
					<label class="col-md-2 control-label">@ViewContext.RouteData.Values["user"]</label>
					<div class="col-md-10">
						@Html.DropDownListFor(m => m.UserId, new SelectList(Model.Trainers, "UserId", "User.Email"), "", new { @class = "form-select" })
						@Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
					</div>
				</div>
				break;
			case Role.Trainee:
				<div class="form-group mb-3">
					<label class="col-md-2 control-label">@ViewContext.RouteData.Values["user"]</label>
					<div class="col-md-10">
						@Html.DropDownListFor(m => m.UserId, new SelectList(Model.Trainees, "UserId", "User.Email"), "", new { @class = "form-select" })
						@Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
					</div>
				</div>
				break;
		}

		<div class="form-group mb-3">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save changes" class="btn btn-primary" />
			</div>
		</div>
	</div>
}

<script type="text/javascript">
	//function fun1() {
	//	var xx = document.getElementById('select1').value;
	//	fun2();
	//	if (xx == 1) {
	//		document.getElementById('form1').style.display = "block";
	//	}
	//	else if (xx == 2) {
	//		document.getElementById('form2').style.display = "block";
	//	}
	//	else {
	//	}
	//}
	//function fun2()//to hide all form elements
	//{
	//	var x = document.getElementsByTagName("form");
	//	var i;
	//	for (i = 0; i < x.length; i++) {
	//		x[i].style.display = "none";
	//	}
	//}
	//$(document).ready(function () {

//	$("#Role").change(function () {
//		var formID = $(this).val();
//		var role = ("#Role").val();
//		if (role == "")
//			$("#UserId")
//	})

//})
</script>