@model WebApp.ViewModels.UserProfileViewModel
@{
	ViewBag.Title = "Remove";
}

@Html.Partial("Profile.DetailsPartial")

@using (Html.BeginForm("ConfirmRemove", "Assign", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<input type="hidden" name="courseId" value="@Request["courseId"]" />
	<input type="hidden" name="userRole" value="@Request["userRole"]" />
	<input type="hidden" name="userId" value="@Request["userId"]" />
	<div class="offset-sm-2">
		<p class="text-danger">Are you sure to remove <b>@Model.Email</b> from <b>@ViewBag.CourseName</b> course?</p>
		<input type="submit" value="Confirm Remove" class="btn btn-danger" />
		@Html.ActionLink("Ignore", "Index", new { courseId = Request["courseId"] }, new { @class = "btn btn-secondary" })
	</div>
}
