@model WebApp.ViewModels.GroupedUsersViewModel
@{
	ViewBag.Title = "Dashboard";
	int i = 0;
}
<h2>Dashboard</h2>

<div class="list-group">
	@Html.ActionLink("Create new account", "Create", null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })
	@Html.ActionLink("Reset Password", "ResetPassword", null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })
</div>

<h3>Staff Accounts</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">UserName</th>
			<th scope="col">Full Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in @Model.Staffs)
		{
			{ i++; }
			<tr>
				<th scope="row">@i</th>
				<td>@item.UserName</td>
				<td>@item.FullName</td>
				<td>
					@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { type = "button", @class = "btn btn-danger" })
					@Html.ActionLink("Edit profiles", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
					@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
					@Html.ActionLink("Reset Password", "ResetPassword", new { email = item.Email }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}

	</tbody>
</table>

<h3>Trainer Accounts</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">UserName</th>
			<th scope="col">Full Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@{ i = 0; }
		@foreach (var item in @Model.Trainers)
		{
			{ i++; }
			<tr>
				<th scope="row">@i</th>
				<td>@item.UserName</td>
				<td>@item.FullName</td>
				<td>
					@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
					@Html.ActionLink("Edit profiles", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
					@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
					@Html.ActionLink("Reset Password", "ResetPassword", new { email = item.Email }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}

	</tbody>
</table>